nodered/sensibo_kids_room.json
[
    {
        "id": "218db70e.126ef8",
        "type": "tab",
        "label": "Sensibo Kids Room",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4387f630.518d68",
        "type": "server-state-changed",
        "z": "218db70e.126ef8",
        "name": "My Fan",
        "server": "d6c93caf.8868e",
        "version": 1,
        "entityidfilter": "input_select.sensibo_kids_room_fan",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "2cfa8b83.d5d6c4"
            ]
        ]
    },
    {
        "id": "7e38727c.e28d6c",
        "type": "function",
        "z": "218db70e.126ef8",
        "name": "Set Data",
        "func": "msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.kids_room\",\n        \"fan_mode\": msg.payload\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 140,
        "wires": [
            [
                "557d872.cb2de78"
            ]
        ]
    },
    {
        "id": "557d872.cb2de78",
        "type": "api-call-service",
        "z": "218db70e.126ef8",
        "name": "Set Fan",
        "server": "d6c93caf.8868e",
        "service_domain": "climate",
        "service": "set_fan_mode",
        "data": "",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 900,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2cfa8b83.d5d6c4",
        "type": "api-current-state",
        "z": "218db70e.126ef8",
        "name": "Climate Fan",
        "server": "d6c93caf.8868e",
        "version": "1",
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "climate.kids_room",
        "state_type": "str",
        "state_location": "climateFan",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "6ae9f7ca.02af78"
            ]
        ]
    },
    {
        "id": "6ae9f7ca.02af78",
        "type": "switch",
        "z": "218db70e.126ef8",
        "name": "Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "data.attributes.fan_mode",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 140,
        "wires": [
            [
                "7e38727c.e28d6c"
            ]
        ]
    },
    {
        "id": "b19113ef.53085",
        "type": "comment",
        "z": "218db70e.126ef8",
        "name": "Fan Mode entities sync",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "f3ea8651.303538",
        "type": "server-state-changed",
        "z": "218db70e.126ef8",
        "name": "Climate Fan",
        "server": "d6c93caf.8868e",
        "version": "1",
        "entityidfilter": "sensor.sensibo_kids_room_fan",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "306f08e4.f909a8"
            ]
        ]
    },
    {
        "id": "306f08e4.f909a8",
        "type": "api-current-state",
        "z": "218db70e.126ef8",
        "name": "My Fan",
        "server": "d6c93caf.8868e",
        "version": "1",
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_select.sensibo_kids_room_fan",
        "state_type": "str",
        "state_location": "myFan",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "5236a324.14620c"
            ]
        ]
    },
    {
        "id": "5236a324.14620c",
        "type": "switch",
        "z": "218db70e.126ef8",
        "name": "Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "myFan",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "cfd9c15b.30dd8"
            ]
        ]
    },
    {
        "id": "cfd9c15b.30dd8",
        "type": "function",
        "z": "218db70e.126ef8",
        "name": "Set Data",
        "func": "msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_select.sensibo_kids_room_fan\",\n        \"option\": msg.payload\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "a8d82c6a.c5297"
            ]
        ]
    },
    {
        "id": "a8d82c6a.c5297",
        "type": "api-call-service",
        "z": "218db70e.126ef8",
        "name": "Set My Fan",
        "server": "d6c93caf.8868e",
        "service_domain": "input_select",
        "service": "select_option",
        "data": "",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 900,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "719c5935.5c4928",
        "type": "function",
        "z": "218db70e.126ef8",
        "name": "Data ON",
        "func": "msg.payload = \n{\n    \"data\": {\n        \"title\": \"Kids Room AC\",\n        \"message\": \"ON\" + \"\\nTemp: \" + msg.data.attributes.current_temperature + \"°C\" + \"\\nOperation: \" + msg.payload + \"\\nFan: \" + msg.data.attributes.fan_mode + \"\\nTarget: \" + msg.data.attributes.temperature + \"°C\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 500,
        "wires": [
            [
                "fccd0c0c.9afa1"
            ]
        ]
    },
    {
        "id": "fccd0c0c.9afa1",
        "type": "api-call-service",
        "z": "218db70e.126ef8",
        "name": "Notify Dima",
        "server": "d6c93caf.8868e",
        "service_domain": "notify",
        "service": "dimatelegram",
        "data": "",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 910,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "cf1d0884.c91948",
        "type": "server-state-changed",
        "z": "218db70e.126ef8",
        "name": "Kids Room AC",
        "server": "d6c93caf.8868e",
        "version": 1,
        "entityidfilter": "climate.kids_room",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "3b285ff3.0392f"
            ],
            [
                "8350c563.a86018"
            ]
        ]
    },
    {
        "id": "3594500d.53066",
        "type": "comment",
        "z": "218db70e.126ef8",
        "name": "Notification",
        "info": "",
        "x": 120,
        "y": 440,
        "wires": []
    },
    {
        "id": "8350c563.a86018",
        "type": "function",
        "z": "218db70e.126ef8",
        "name": "Data OFF",
        "func": "msg.payload = \n{\n    \"data\": {\n        \"title\": \"Kids Room AC\",\n        \"message\": \"OFF\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 600,
        "wires": [
            [
                "fccd0c0c.9afa1"
            ]
        ]
    },
    {
        "id": "3b285ff3.0392f",
        "type": "api-current-state",
        "z": "218db70e.126ef8",
        "name": "Kids Room AC",
        "server": "d6c93caf.8868e",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "climate.kids_room",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 480,
        "y": 500,
        "wires": [
            [
                "719c5935.5c4928"
            ]
        ]
    },
    {
        "id": "d6c93caf.8868e",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    }
]