nodered/switcher.json
[
    {
        "id": "a04621ee.99fb2",
        "type": "tab",
        "label": "Switcher",
        "disabled": false,
        "info": ""
    },
    {
        "id": "de2994dc.36b148",
        "type": "server-state-changed",
        "z": "a04621ee.99fb2",
        "name": "Boiler",
        "server": "d6c93caf.8868e",
        "version": 1,
        "entityidfilter": "switch.switcher_aio_switch",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "9bb5c518.3bb3a8"
            ]
        ]
    },
    {
        "id": "85b56f17.91dfb",
        "type": "function",
        "z": "a04621ee.99fb2",
        "name": "Message ON",
        "func": "msg.payload = \n{\n    \"data\": {\n        \"title\": \"Boiler\",\n        \"message\": \"ON\\n\" + \"Auto off \" + msg.autoOff + \".\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 560,
        "wires": [
            [
                "5935d27c.0f873c"
            ]
        ]
    },
    {
        "id": "5935d27c.0f873c",
        "type": "api-call-service",
        "z": "a04621ee.99fb2",
        "name": "Notify Dima",
        "server": "d6c93caf.8868e",
        "service_domain": "notify",
        "service": "dimatelegram",
        "data": "",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1250,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "6d289603.d43158",
        "type": "api-current-state",
        "z": "a04621ee.99fb2",
        "name": "Time left",
        "server": "d6c93caf.8868e",
        "version": "1",
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sensor.switcher_aio_time_left",
        "state_type": "str",
        "state_location": "timeLeft",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 760,
        "y": 480,
        "wires": [
            [
                "63e64566.acd06c"
            ]
        ]
    },
    {
        "id": "9bb5c518.3bb3a8",
        "type": "api-current-state",
        "z": "a04621ee.99fb2",
        "name": "Device name",
        "server": "d6c93caf.8868e",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "switcher_aio.device_name_sensor",
        "state_type": "str",
        "state_location": "deviceName",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "c1b81d1d.a80a7"
            ]
        ]
    },
    {
        "id": "ae22f71b.b6e758",
        "type": "function",
        "z": "a04621ee.99fb2",
        "name": "Message OFF",
        "func": "msg.payload = \n{\n    \"data\": {\n        \"title\": \"Boiler\",\n        \"message\": \"OFF\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 700,
        "wires": [
            [
                "5935d27c.0f873c"
            ]
        ]
    },
    {
        "id": "5443bb04.c9ff94",
        "type": "ha-wait-until",
        "z": "a04621ee.99fb2",
        "name": "Wait for off",
        "server": "d6c93caf.8868e",
        "outputs": 2,
        "entityId": "switcher_aio.time_left_sensor",
        "property": "state",
        "comparator": "is",
        "value": "off",
        "valueType": "str",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "entityLocation": "",
        "entityLocationType": "none",
        "checkCurrentState": false,
        "x": 430,
        "y": 700,
        "wires": [
            [
                "ae22f71b.b6e758"
            ],
            []
        ]
    },
    {
        "id": "c3d7f24a.8c769",
        "type": "ha-wait-until",
        "z": "a04621ee.99fb2",
        "name": "Wait for Time Left",
        "server": "d6c93caf.8868e",
        "outputs": 2,
        "entityId": "sensor.switcher_aio_time_left",
        "property": "state",
        "comparator": "is_not",
        "value": "off",
        "valueType": "str",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "entityLocation": "",
        "entityLocationType": "none",
        "checkCurrentState": true,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "68daf6fc.9dc5d8"
            ],
            []
        ]
    },
    {
        "id": "c1b81d1d.a80a7",
        "type": "switch",
        "z": "a04621ee.99fb2",
        "name": "ON / OFF",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 400,
        "wires": [
            [
                "c3d7f24a.8c769"
            ],
            [
                "5443bb04.c9ff94"
            ]
        ]
    },
    {
        "id": "6ff40918.0a7778",
        "type": "server-state-changed",
        "z": "a04621ee.99fb2",
        "name": "My Timer minutes select",
        "server": "d6c93caf.8868e",
        "version": "1",
        "entityidfilter": "input_select.switcher_timer_minutes_input_select",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 170,
        "y": 920,
        "wires": [
            [
                "b7579cf5.a146b"
            ]
        ]
    },
    {
        "id": "16fa59.258a55a8",
        "type": "api-call-service",
        "z": "a04621ee.99fb2",
        "name": "Switcher Timer minutes",
        "server": "d6c93caf.8868e",
        "service_domain": "input_select",
        "service": "select_option",
        "data": "",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 870,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "b7579cf5.a146b",
        "type": "function",
        "z": "a04621ee.99fb2",
        "name": "Set data",
        "func": "msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"switcher_aio.timer_minutes_input_select\",\n        \"option\": msg.payload\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 920,
        "wires": [
            [
                "16fa59.258a55a8"
            ]
        ]
    },
    {
        "id": "c16ed456.e90968",
        "type": "server-state-changed",
        "z": "a04621ee.99fb2",
        "name": "My Timer minutes number",
        "server": "d6c93caf.8868e",
        "version": 1,
        "entityidfilter": "input_number.switcher_timer_minutes_input_number",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "fd827558.8c9108"
            ]
        ]
    },
    {
        "id": "fd827558.8c9108",
        "type": "function",
        "z": "a04621ee.99fb2",
        "name": "Num to String",
        "func": "msg.payload = parseInt(msg.payload);\nmsg.payload = msg.payload.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1080,
        "wires": [
            [
                "b7579cf5.a146b"
            ]
        ]
    },
    {
        "id": "63e64566.acd06c",
        "type": "api-current-state",
        "z": "a04621ee.99fb2",
        "name": "Auto Off",
        "server": "d6c93caf.8868e",
        "version": "1",
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sensor.switcher_aio_auto_off_time",
        "state_type": "str",
        "state_location": "autoOff",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 840,
        "y": 560,
        "wires": [
            [
                "85b56f17.91dfb"
            ]
        ]
    },
    {
        "id": "68daf6fc.9dc5d8",
        "type": "ha-wait-until",
        "z": "a04621ee.99fb2",
        "name": "Wait for Auto Off",
        "server": "d6c93caf.8868e",
        "outputs": 2,
        "entityId": "sensor.switcher_aio_auto_off_time",
        "property": "state",
        "comparator": "is_not",
        "value": "off",
        "valueType": "str",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "entityLocation": "",
        "entityLocationType": "none",
        "checkCurrentState": true,
        "x": 560,
        "y": 480,
        "wires": [
            [
                "6d289603.d43158"
            ],
            []
        ]
    },
    {
        "id": "1a721010.5398b",
        "type": "server-events",
        "z": "a04621ee.99fb2",
        "name": "States loaded",
        "server": "d6c93caf.8868e",
        "event_type": "states_loaded",
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "4e833f00.4c143"
            ]
        ]
    },
    {
        "id": "4e833f00.4c143",
        "type": "api-current-state",
        "z": "a04621ee.99fb2",
        "name": "My Timer munutes select",
        "server": "d6c93caf.8868e",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_select.switcher_timer_minutes_input_select",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 390,
        "y": 1220,
        "wires": [
            [
                "b7579cf5.a146b"
            ]
        ]
    },
    {
        "id": "8e63ac6.527815",
        "type": "comment",
        "z": "a04621ee.99fb2",
        "name": "Notification",
        "info": "",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "460aae4e.9a3bc",
        "type": "comment",
        "z": "a04621ee.99fb2",
        "name": "Entities sync",
        "info": "",
        "x": 130,
        "y": 860,
        "wires": []
    },
    {
        "id": "d6c93caf.8868e",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    }
]