config/node-red/flows.json
[{"id":"a04621ee.99fb2","type":"tab","label":"Switcher","disabled":false,"info":""},{"id":"22777426.3fe0ac","type":"tab","label":"Snapshots Backup","disabled":false,"info":""},{"id":"218db70e.126ef8","type":"tab","label":"Sensibo Kids Room","disabled":false,"info":""},{"id":"75b97fbb.48012","type":"tab","label":"Xiaomi Gateway","disabled":false,"info":""},{"id":"588dc0bd.c899e","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"d9cd118a.6808e","type":"tab","label":"Themes","disabled":true,"info":""},{"id":"34741465.a484cc","type":"tab","label":"Media","disabled":true,"info":""},{"id":"e24ee83f.cd3aa8","type":"tab","label":"Backup","disabled":true,"info":""},{"id":"4ea912cb.2d363c","type":"tab","label":"Yeelight","disabled":true,"info":""},{"id":"dae44303.1ec1b","type":"tab","label":"Telegram","disabled":true,"info":""},{"id":"46f1a12.33a346","type":"tab","label":"Sensibo Kids Room back","disabled":true,"info":""},{"id":"d6c93caf.8868e","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"7c3fa140.12fa","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"31.779634","longitude":"34.631910"},{"id":"9a3b04ff.afd7b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a2128a4e.1357c8","type":"server-state-changed","z":"34741465.a484cc","name":"Shield TV","server":"d6c93caf.8868e","version":"1","entityidfilter":"switch.shield_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":180,"wires":[[],["8ec92239.3f04"]]},{"id":"46137c4b.8e8364","type":"api-call-service","z":"34741465.a484cc","name":"Notify Dima","server":"d6c93caf.8868e","service_domain":"notify","service":"mobile_app_iphonexsdima","data":"","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":180,"wires":[[]]},{"id":"69311ea7.1e7ac","type":"function","z":"34741465.a484cc","name":"Message","func":"msg.payload = \n{\n    \"data\": {\n        \"message\": msg.mediaName + \" is ON\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":180,"wires":[["46137c4b.8e8364"]]},{"id":"80c76e98.ee3fd","type":"change","z":"34741465.a484cc","name":"Shield TV is ON","rules":[{"t":"set","p":"mediaName","pt":"msg","to":"Shield TV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["69311ea7.1e7ac"]]},{"id":"da9a1134.90113","type":"server-state-changed","z":"34741465.a484cc","name":"Baltic TV","server":"d6c93caf.8868e","version":"1","entityidfilter":"switch.baltic_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":260,"wires":[[],["af7e8046.c16c8"]]},{"id":"d00b39da.2b90b8","type":"change","z":"34741465.a484cc","name":"Baltic TV is ON","rules":[{"t":"set","p":"mediaName","pt":"msg","to":"Baltic TV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":260,"wires":[["69311ea7.1e7ac"]]},{"id":"81c61e38.01ccd","type":"server-state-changed","z":"34741465.a484cc","name":"Smart TV","server":"d6c93caf.8868e","version":"1","entityidfilter":"switch.smart_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":340,"wires":[[],["931c406c.cd86a"]]},{"id":"1f59d36b.21e40d","type":"change","z":"34741465.a484cc","name":"Smart TV is ON","rules":[{"t":"set","p":"mediaName","pt":"msg","to":"Smart TV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":340,"wires":[["69311ea7.1e7ac"]]},{"id":"13bed4c5.63288b","type":"light-scheduler","z":"e24ee83f.cd3aa8","settings":"7c3fa140.12fa","events":"[{\"start\":{\"dow\":0,\"mod\":120},\"end\":{\"dow\":0,\"mod\":135}}]","topic":"","name":"Once a week","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":150,"y":160,"wires":[["f5a28611.78dae8"]]},{"id":"f5a28611.78dae8","type":"rbe","z":"e24ee83f.cd3aa8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":160,"wires":[["65bc9ee8.8d565"]]},{"id":"65bc9ee8.8d565","type":"switch","z":"e24ee83f.cd3aa8","name":"ON only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":160,"wires":[["74125ae1.b40744","538ab7ad.cc3b58"]]},{"id":"dad4d40c.f19058","type":"function","z":"e24ee83f.cd3aa8","name":"Format snapshot","func":"msg.payload = \n    {\n        \"data\":\n            {\n                \"name\": msg.currentTime\n            }\n    }\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["33af0379.de0e6c"]]},{"id":"33af0379.de0e6c","type":"api-call-service","z":"e24ee83f.cd3aa8","name":"Snapshot","server":"d6c93caf.8868e","service_domain":"hassio","service":"snapshot_full","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":1100,"y":160,"wires":[[]]},{"id":"96d8839c.ca9b4","type":"inject","z":"e24ee83f.cd3aa8","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":60,"wires":[["65bc9ee8.8d565"]]},{"id":"74125ae1.b40744","type":"moment","z":"e24ee83f.cd3aa8","name":"Time fromat","topic":"","input":"","inputType":"date","inTz":"Asia/Jerusalem","adjAmount":"0","adjType":"hours","adjDir":"add","format":"MMM DD, YYYY, HH:mm","locale":"C","output":"currentTime","outputType":"msg","outTz":"Asia/Jerusalem","x":670,"y":160,"wires":[["dad4d40c.f19058"]]},{"id":"bd18bf77.9ae43","type":"api-call-service","z":"e24ee83f.cd3aa8","name":"Dropbox sync","server":"d6c93caf.8868e","service_domain":"hassio","service":"addon_stdin","data":"{    \"addon\": \"7be23ff5_dropbox_sync\",    \"input\": {        \"command\": \"upload\"    }}","mergecontext":"","output_location":"","output_location_type":"none","x":1120,"y":280,"wires":[[]]},{"id":"538ab7ad.cc3b58","type":"delay","z":"e24ee83f.cd3aa8","name":"Delay 10 min","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":280,"wires":[["bd18bf77.9ae43"]]},{"id":"8ec92239.3f04","type":"api-current-state","z":"34741465.a484cc","name":"Away","server":"d6c93caf.8868e","version":"1","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.dima_phone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":180,"wires":[[],["80c76e98.ee3fd"]]},{"id":"af7e8046.c16c8","type":"api-current-state","z":"34741465.a484cc","name":"Away","server":"d6c93caf.8868e","version":"1","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.dima_phone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":260,"wires":[[],["d00b39da.2b90b8"]]},{"id":"931c406c.cd86a","type":"api-current-state","z":"34741465.a484cc","name":"Away","server":"d6c93caf.8868e","version":"1","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.dima_phone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":340,"wires":[[],["1f59d36b.21e40d"]]},{"id":"7656546b.a1ddbc","type":"server-state-changed","z":"e24ee83f.cd3aa8","name":"Backup script","server":"d6c93caf.8868e","version":"1","entityidfilter":"input_boolean.red_node_backup","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":390,"y":280,"wires":[[],["52d7a21.3203e5c","74125ae1.b40744","538ab7ad.cc3b58"]]},{"id":"52d7a21.3203e5c","type":"api-call-service","z":"e24ee83f.cd3aa8","name":"Turn off input boolean","server":"d6c93caf.8868e","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.red_node_backup\"}","mergecontext":"","output_location":"","output_location_type":"none","x":700,"y":360,"wires":[[]]},{"id":"de2994dc.36b148","type":"server-state-changed","z":"a04621ee.99fb2","name":"Boiler","server":"d6c93caf.8868e","version":1,"entityidfilter":"switch.switcher_aio_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":200,"wires":[["9bb5c518.3bb3a8"]]},{"id":"85b56f17.91dfb","type":"function","z":"a04621ee.99fb2","name":"Message ON","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Boiler\",\n        \"message\": \"ON\\n\" + \"Auto off \" + msg.autoOff + \".\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":560,"wires":[["5935d27c.0f873c"]]},{"id":"5935d27c.0f873c","type":"api-call-service","z":"a04621ee.99fb2","name":"Notify Dima","server":"d6c93caf.8868e","version":"1","service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":560,"wires":[[]]},{"id":"6d289603.d43158","type":"api-current-state","z":"a04621ee.99fb2","name":"Time left","server":"d6c93caf.8868e","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.switcher_aio_time_left","state_type":"str","state_location":"timeLeft","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":760,"y":480,"wires":[["63e64566.acd06c"]]},{"id":"9bb5c518.3bb3a8","type":"api-current-state","z":"a04621ee.99fb2","name":"Device name","server":"d6c93caf.8868e","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switcher_aio.device_name_sensor","state_type":"str","state_location":"deviceName","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":300,"wires":[["c1b81d1d.a80a7"]]},{"id":"ae22f71b.b6e758","type":"function","z":"a04621ee.99fb2","name":"Message OFF","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Boiler\",\n        \"message\": \"OFF\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":700,"wires":[["5935d27c.0f873c"]]},{"id":"5443bb04.c9ff94","type":"ha-wait-until","z":"a04621ee.99fb2","name":"Wait for off","server":"d6c93caf.8868e","outputs":2,"entityId":"switcher_aio.time_left_sensor","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"10","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":false,"x":430,"y":700,"wires":[["ae22f71b.b6e758"],[]]},{"id":"c3d7f24a.8c769","type":"ha-wait-until","z":"a04621ee.99fb2","name":"Wait for Time Left","server":"d6c93caf.8868e","outputs":2,"entityId":"sensor.switcher_aio_time_left","property":"state","comparator":"is_not","value":"off","valueType":"str","timeout":"30","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":450,"y":400,"wires":[["68daf6fc.9dc5d8"],[]]},{"id":"c1b81d1d.a80a7","type":"switch","z":"a04621ee.99fb2","name":"ON / OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":400,"wires":[["c3d7f24a.8c769"],["5443bb04.c9ff94"]]},{"id":"6ff40918.0a7778","type":"server-state-changed","z":"a04621ee.99fb2","name":"My Timer minutes select","server":"d6c93caf.8868e","version":1,"entityidfilter":"input_select.switcher_timer_minutes_input_select","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":920,"wires":[["b7579cf5.a146b"]]},{"id":"16fa59.258a55a8","type":"api-call-service","z":"a04621ee.99fb2","name":"Switcher Timer minutes","server":"d6c93caf.8868e","version":"1","service_domain":"input_select","service":"select_option","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":920,"wires":[[]]},{"id":"b7579cf5.a146b","type":"function","z":"a04621ee.99fb2","name":"Set data","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"switcher_aio.timer_minutes_input_select\",\n        \"option\": msg.payload\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":920,"wires":[["16fa59.258a55a8"]]},{"id":"402401d0.71e74","type":"server-state-changed","z":"22777426.3fe0ac","name":"Snapshots stale","server":"d6c93caf.8868e","version":1,"entityidfilter":"binary_sensor.snapshots_stale","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":160,"wires":[[],["7518843.74dd77c"]]},{"id":"7518843.74dd77c","type":"function","z":"22777426.3fe0ac","name":"Message","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Snapshots are Stale\",\n        \"message\": \"Please visit the 'Hass.io Google Drive Backup ' add-on status page\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["565131b6.61a22"]]},{"id":"565131b6.61a22","type":"api-call-service","z":"22777426.3fe0ac","name":"Notify Dima","server":"d6c93caf.8868e","version":1,"service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":160,"wires":[[]]},{"id":"63e64566.acd06c","type":"api-current-state","z":"a04621ee.99fb2","name":"Auto Off","server":"d6c93caf.8868e","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.switcher_aio_auto_off_time","state_type":"str","state_location":"autoOff","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":840,"y":560,"wires":[["85b56f17.91dfb"]]},{"id":"68daf6fc.9dc5d8","type":"ha-wait-until","z":"a04621ee.99fb2","name":"Wait for Auto Off","server":"d6c93caf.8868e","outputs":2,"entityId":"sensor.switcher_aio_auto_off_time","property":"state","comparator":"is_not","value":"off","valueType":"str","timeout":"30","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":560,"y":480,"wires":[["6d289603.d43158"],[]]},{"id":"1189d628.a5f5ea","type":"server-state-changed","z":"4ea912cb.2d363c","name":"Ceiling mode input select","server":"d6c93caf.8868e","version":"1","entityidfilter":"input_select.yeelight_bedroom_ceiling_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":240,"y":240,"wires":[["44bdb4f2.5616dc"]]},{"id":"44bdb4f2.5616dc","type":"switch","z":"4ea912cb.2d363c","name":"Mode switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Normal","vt":"str"},{"t":"eq","v":"Moonlight","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":240,"wires":[["acd11536.fa2ac8"],["7a0e710d.17a34"]]},{"id":"acd11536.fa2ac8","type":"change","z":"4ea912cb.2d363c","name":"Set Normal mode","rules":[{"t":"set","p":"yeelightMode","pt":"msg","to":"normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":240,"wires":[["91ed421b.23856"]]},{"id":"7a0e710d.17a34","type":"change","z":"4ea912cb.2d363c","name":"Set Moonlight mode","rules":[{"t":"set","p":"yeelightMode","pt":"msg","to":"moonlight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":320,"wires":[["91ed421b.23856"]]},{"id":"91ed421b.23856","type":"function","z":"4ea912cb.2d363c","name":"Data","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"light.bedroom_ceiling\",\n        \"mode\": msg.yeelightMode\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":260,"wires":[["3cc726c3.46315a"]]},{"id":"3cc726c3.46315a","type":"api-call-service","z":"4ea912cb.2d363c","name":"Set mode","server":"d6c93caf.8868e","service_domain":"yeelight","service":"set_mode","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":1140,"y":260,"wires":[[]]},{"id":"ea9ac648.3acb48","type":"function","z":"dae44303.1ec1b","name":"Data","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Lights\",\n        \"message\": \"Work Room light is \" + msg.payload\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["bcfa3941.be55a8"]]},{"id":"bcfa3941.be55a8","type":"api-call-service","z":"dae44303.1ec1b","name":"","server":"d6c93caf.8868e","service_domain":"notify","service":"dimatelegram","data":"","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":240,"wires":[[]]},{"id":"aed44805.5e0f98","type":"server-state-changed","z":"dae44303.1ec1b","name":"Work Room Light","server":"d6c93caf.8868e","version":1,"entityidfilter":"light.work_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":190,"y":240,"wires":[["ea9ac648.3acb48"]]},{"id":"4adef6d6.b980f8","type":"function","z":"dae44303.1ec1b","name":"Data","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Kids Room\",\n        \"message\": \"Kids Room AC is on\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["e114e0ba.b5227"]]},{"id":"e114e0ba.b5227","type":"api-call-service","z":"dae44303.1ec1b","name":"","server":"d6c93caf.8868e","service_domain":"notify","service":"dimatelegram","data":"","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":400,"wires":[[]]},{"id":"6ede478a.b92a28","type":"server-state-changed","z":"dae44303.1ec1b","name":"Kids Room AC","server":"d6c93caf.8868e","version":1,"entityidfilter":"climate.kids_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":400,"wires":[["4adef6d6.b980f8"],[]]},{"id":"719c5935.5c4928","type":"function","z":"218db70e.126ef8","name":"Data ON","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Kids Room AC\",\n        \"message\": \"ON\" + \"\\nTemp: \" + msg.data.attributes.current_temperature + \"°C\" + \"\\nOperation: \" + msg.payload + \"\\nFan: \" + msg.data.attributes.fan_mode + \"\\nTarget: \" + msg.data.attributes.temperature + \"°C\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["fccd0c0c.9afa1"]]},{"id":"fccd0c0c.9afa1","type":"api-call-service","z":"218db70e.126ef8","name":"Notify Dima","server":"d6c93caf.8868e","version":"1","service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":140,"wires":[[]]},{"id":"cf1d0884.c91948","type":"server-state-changed","z":"218db70e.126ef8","name":"Kids Room AC","server":"d6c93caf.8868e","version":1,"entityidfilter":"climate.kids_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":140,"y":140,"wires":[["3b285ff3.0392f"],["8350c563.a86018"]]},{"id":"3594500d.53066","type":"comment","z":"218db70e.126ef8","name":"Notification","info":"","x":120,"y":80,"wires":[]},{"id":"8350c563.a86018","type":"function","z":"218db70e.126ef8","name":"Data OFF","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Kids Room AC\",\n        \"message\": \"OFF\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["fccd0c0c.9afa1"]]},{"id":"3b285ff3.0392f","type":"api-current-state","z":"218db70e.126ef8","name":"Kids Room AC","server":"d6c93caf.8868e","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.kids_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":140,"wires":[["719c5935.5c4928"]]},{"id":"8e63ac6.527815","type":"comment","z":"a04621ee.99fb2","name":"Notification","info":"","x":120,"y":140,"wires":[]},{"id":"460aae4e.9a3bc","type":"comment","z":"a04621ee.99fb2","name":"Entities sync","info":"","x":130,"y":860,"wires":[]},{"id":"a239b97e.ba28b8","type":"server-state-changed","z":"75b97fbb.48012","name":"Bedroom Temp. Battery","server":"d6c93caf.8868e","version":1,"entityidfilter":"sensor.xiaomi_bedroom_temp_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"x":140,"y":180,"wires":[["a0ed713d.cfcff"],[]]},{"id":"a0ed713d.cfcff","type":"function","z":"75b97fbb.48012","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"notification_id\": \"12345\",\n        \"title\": \"Bedroom Temperature Battery\",\n        \"message\": \"The battery is \" + msg.payload + \"%.\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["98f23880.caaac8"]]},{"id":"98f23880.caaac8","type":"api-call-service","z":"75b97fbb.48012","name":"Persistant Notification","server":"d6c93caf.8868e","version":"1","service_domain":"persistent_notification","service":"create","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":180,"wires":[[]]},{"id":"5f73ac73.aba6c4","type":"server-state-changed","z":"46f1a12.33a346","name":"My Operation","server":"d6c93caf.8868e","version":"1","entityidfilter":"input_select.sensibo_kids_room_operation","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":160,"wires":[["4c85b612.369b98"]]},{"id":"fa674977.54c1c8","type":"function","z":"46f1a12.33a346","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.kids_room\",\n        \"operation_mode\": msg.payload\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":160,"wires":[["225fab0f.73d9c4"]]},{"id":"225fab0f.73d9c4","type":"api-call-service","z":"46f1a12.33a346","name":"Set Operation","server":"d6c93caf.8868e","service_domain":"climate","service":"set_operation_mode","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":1130,"y":160,"wires":[[]]},{"id":"e5d8a87b.da7378","type":"server-events","z":"46f1a12.33a346","name":"States Loaded","server":"d6c93caf.8868e","event_type":"states_loaded","x":140,"y":280,"wires":[["a19caccc.95fbd"]]},{"id":"a19caccc.95fbd","type":"api-current-state","z":"46f1a12.33a346","name":"My Operation","server":"d6c93caf.8868e","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.sensibo_kids_room_operation","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":280,"wires":[["4c85b612.369b98"]]},{"id":"4c85b612.369b98","type":"api-current-state","z":"46f1a12.33a346","name":"Climate Operation","server":"d6c93caf.8868e","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.kids_room","state_type":"str","state_location":"climateOper","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":160,"wires":[["9ebd96e7.ab37a8"]]},{"id":"9ebd96e7.ab37a8","type":"switch","z":"46f1a12.33a346","name":"Check","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"data.attributes.operation_mode","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":160,"wires":[["fa674977.54c1c8"]]},{"id":"f673e248.a0e32","type":"comment","z":"46f1a12.33a346","name":"Operation Mode entities sync","info":"","x":180,"y":100,"wires":[]},{"id":"aec10c5.39b44f","type":"server-state-changed","z":"46f1a12.33a346","name":"Climate Oper","server":"d6c93caf.8868e","version":"1","entityidfilter":"sensor.sensibo_kids_room_operation","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":380,"wires":[["7fa68506.f26cfc"]]},{"id":"7fa68506.f26cfc","type":"api-current-state","z":"46f1a12.33a346","name":"My Operation","server":"d6c93caf.8868e","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.sensibo_kids_room_operation","state_type":"str","state_location":"myOper","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":380,"wires":[["7301380d.242da8"]]},{"id":"7301380d.242da8","type":"switch","z":"46f1a12.33a346","name":"Check","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"myOper","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":380,"wires":[["c8691389.d4e88"]]},{"id":"c8691389.d4e88","type":"function","z":"46f1a12.33a346","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_select.sensibo_kids_room_operation\",\n        \"option\": msg.payload\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":380,"wires":[["2047448a.63096c"]]},{"id":"2047448a.63096c","type":"api-call-service","z":"46f1a12.33a346","name":"Set My Operation","server":"d6c93caf.8868e","service_domain":"input_select","service":"select_option","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":1120,"y":380,"wires":[[]]},{"id":"7695bdbc.838e14","type":"server-state-changed","z":"46f1a12.33a346","name":"My Input Number","server":"d6c93caf.8868e","version":1,"entityidfilter":"input_number.sensibo_kids_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":540,"wires":[["7530b077.b9e6a"]]},{"id":"2ce134dd.13ea8c","type":"function","z":"46f1a12.33a346","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.kids_room\",\n        \"temperature\": msg.payload\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":540,"wires":[["e365a372.3ea8a"]]},{"id":"e365a372.3ea8a","type":"api-call-service","z":"46f1a12.33a346","name":"Set Temperature","server":"d6c93caf.8868e","service_domain":"climate","service":"set_temperature","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":1140,"y":540,"wires":[[]]},{"id":"2ace33cb.6ab8fc","type":"server-events","z":"46f1a12.33a346","name":"States Loaded","server":"d6c93caf.8868e","event_type":"states_loaded","x":140,"y":660,"wires":[["64692f5c.214d4"]]},{"id":"64692f5c.214d4","type":"api-current-state","z":"46f1a12.33a346","name":"My Input Number","server":"d6c93caf.8868e","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.sensibo_kids_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":660,"wires":[["7530b077.b9e6a"]]},{"id":"7530b077.b9e6a","type":"api-current-state","z":"46f1a12.33a346","name":"Climate Temperature","server":"d6c93caf.8868e","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.kids_room","state_type":"str","state_location":"climateTemp","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":540,"wires":[["35743649.25cf6a"]]},{"id":"35743649.25cf6a","type":"switch","z":"46f1a12.33a346","name":"Check","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"data.attributes.temperature","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":540,"wires":[["2ce134dd.13ea8c"]]},{"id":"1f514ebf.0c8001","type":"server-state-changed","z":"46f1a12.33a346","name":"Climate Temp","server":"d6c93caf.8868e","version":"1","entityidfilter":"sensor.sensibo_kids_room_target_temp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":780,"wires":[["ef9b358b.8d1598"]]},{"id":"ef9b358b.8d1598","type":"api-current-state","z":"46f1a12.33a346","name":"My Temperature","server":"d6c93caf.8868e","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.sensibo_kids_room","state_type":"str","state_location":"myTemp","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":780,"wires":[["3334e4df.cc846c"]]},{"id":"8b94ff1.dddfe","type":"switch","z":"46f1a12.33a346","name":"Check","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"myTemp","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":780,"wires":[["83f9ceca.33947"]]},{"id":"83f9ceca.33947","type":"function","z":"46f1a12.33a346","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.sensibo_kids_room\",\n        \"value\": msg.payload\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":780,"wires":[["dfb2d8aa.048548"]]},{"id":"dfb2d8aa.048548","type":"api-call-service","z":"46f1a12.33a346","name":"Set My Temperature","server":"d6c93caf.8868e","service_domain":"input_number","service":"set_value","data":"","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":780,"wires":[[]]},{"id":"3334e4df.cc846c","type":"function","z":"46f1a12.33a346","name":"Transfer","func":"msg.myTemp = msg.myTemp.split('.')[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":780,"wires":[["8b94ff1.dddfe"]]},{"id":"fd1e1823.338618","type":"comment","z":"46f1a12.33a346","name":"Target Temperature entities sync","info":"","x":200,"y":480,"wires":[]},{"id":"44671735.4aa178","type":"light-scheduler","z":"588dc0bd.c899e","settings":"7c3fa140.12fa","events":"[{\"start\":{\"dow\":1,\"mod\":1140},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":390}},{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":390}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":390}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":390}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":390}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":390}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":390}},{\"start\":{\"dow\":2,\"mod\":1140},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":1140},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":1140},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":1140},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":1140},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":1140},\"end\":{\"dow\":1,\"mod\":0}}]","topic":"night_mode","name":"Night","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":"10","sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":110,"y":120,"wires":[["3ad31a7d.084886"]]},{"id":"40108977.137ca8","type":"switch","z":"588dc0bd.c899e","name":"ON / OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":240,"wires":[["73880d23.e0be54"],["1c84a3b.d70915c"]]},{"id":"73880d23.e0be54","type":"api-call-service","z":"588dc0bd.c899e","name":"Turn ON Hall light","server":"d6c93caf.8868e","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hall","data":"{   \"entity_id\": \"light.hall\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":240,"wires":[["8c047545.b45818"]]},{"id":"1c84a3b.d70915c","type":"api-call-service","z":"588dc0bd.c899e","name":"Turn OFF Hall light","server":"d6c93caf.8868e","version":1,"service_domain":"light","service":"turn_off","entityId":"light.hall","data":"{   \"entity_id\": \"light.hall\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":300,"wires":[["f5cad511.52ca18"]]},{"id":"9c56ee39.82b7a","type":"comment","z":"588dc0bd.c899e","name":"Hall light during night","info":"","x":160,"y":60,"wires":[]},{"id":"f92c7d99.aca2a","type":"api-call-service","z":"588dc0bd.c899e","name":"Notify Dima","server":"d6c93caf.8868e","version":1,"service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":240,"wires":[[]]},{"id":"8c047545.b45818","type":"function","z":"588dc0bd.c899e","name":"Data ON","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Hall light\",\n        \"message\": \"ON\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["f92c7d99.aca2a"]]},{"id":"f5cad511.52ca18","type":"function","z":"588dc0bd.c899e","name":"Data OFF","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Hall light\",\n        \"message\": \"OFF\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":300,"wires":[["f92c7d99.aca2a"]]},{"id":"228fee15.7f9292","type":"api-current-state","z":"588dc0bd.c899e","name":"ON / OFF","server":"d6c93caf.8868e","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_hall_night_mode","state_type":"habool","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":240,"wires":[["40108977.137ca8"],[]]},{"id":"a190f304.403cf","type":"server-events","z":"588dc0bd.c899e","name":"Bedside Dima","server":"d6c93caf.8868e","event_type":"xiaomi_aqara.click","x":130,"y":500,"wires":[["31c810.bde477f"]]},{"id":"31c810.bde477f","type":"switch","z":"588dc0bd.c899e","name":"Dima / Galit","property":"payload.event.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_bedside_dima","vt":"str"},{"t":"eq","v":"binary_sensor.switch_bedside_galit","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":500,"wires":[["5d3f5fc1.55fb2"],["5d3f5fc1.55fb2"]]},{"id":"5d3f5fc1.55fb2","type":"switch","z":"588dc0bd.c899e","name":"Click type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":560,"y":500,"wires":[["cc133163.e3328"]]},{"id":"cc133163.e3328","type":"api-call-service","z":"588dc0bd.c899e","name":"Bedroom Light","server":"d6c93caf.8868e","version":1,"service_domain":"light","service":"toggle","entityId":"light.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":500,"wires":[[]]},{"id":"ff16afe.9b43d5","type":"comment","z":"588dc0bd.c899e","name":"Bedside lamps","info":"","x":140,"y":440,"wires":[]},{"id":"16b1219a.74d02e","type":"server-state-changed","z":"75b97fbb.48012","name":"Bedside Switch Dima Battery","server":"d6c93caf.8868e","version":1,"entityidfilter":"sensor.xiaomi_switch_bedside_dima_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"x":160,"y":300,"wires":[["d494714.df8da9"],[]]},{"id":"d494714.df8da9","type":"function","z":"75b97fbb.48012","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"notification_id\": \"12346\",\n        \"title\": \"Dima's Bedside Switch Battery\",\n        \"message\": \"The battery is \" + msg.payload + \"%.\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["9920b506.189c28"]]},{"id":"9920b506.189c28","type":"api-call-service","z":"75b97fbb.48012","name":"Persistant Notification","server":"d6c93caf.8868e","version":"1","service_domain":"persistent_notification","service":"create","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":300,"wires":[[]]},{"id":"b4d795cf.005578","type":"server-state-changed","z":"75b97fbb.48012","name":"Bedside Switch Galit Battery","server":"d6c93caf.8868e","version":1,"entityidfilter":"sensor.xiaomi_switch_bedside_galit_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"x":160,"y":380,"wires":[["a9faf360.f71a9"],[]]},{"id":"a9faf360.f71a9","type":"function","z":"75b97fbb.48012","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"notification_id\": \"12347\",\n        \"title\": \"Galit's Bedside Switch Battery\",\n        \"message\": \"The battery is \" + msg.payload + \"%.\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["5f152e85.1177f"]]},{"id":"5f152e85.1177f","type":"api-call-service","z":"75b97fbb.48012","name":"Persistant Notification","server":"d6c93caf.8868e","version":"1","service_domain":"persistent_notification","service":"create","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":380,"wires":[[]]},{"id":"3ad31a7d.084886","type":"rbe","z":"588dc0bd.c899e","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":270,"y":120,"wires":[["228fee15.7f9292"]]},{"id":"80dd09d6.c78f78","type":"server-state-changed","z":"46f1a12.33a346","name":"My Fan","server":"d6c93caf.8868e","version":1,"entityidfilter":"input_select.sensibo_kids_room_fan","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":960,"wires":[["30244de3.401552"]]},{"id":"186f190c.d99467","type":"function","z":"46f1a12.33a346","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.kids_room\",\n        \"fan_mode\": msg.payload\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":960,"wires":[["d9732883.a974d8"]]},{"id":"d9732883.a974d8","type":"api-call-service","z":"46f1a12.33a346","name":"Set Fan","server":"d6c93caf.8868e","version":"1","service_domain":"climate","service":"set_fan_mode","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":960,"wires":[[]]},{"id":"30244de3.401552","type":"api-current-state","z":"46f1a12.33a346","name":"Climate Fan","server":"d6c93caf.8868e","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.kids_room","state_type":"str","state_location":"climateFan","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":960,"wires":[["73914136.1910a"]]},{"id":"73914136.1910a","type":"switch","z":"46f1a12.33a346","name":"Check","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"data.attributes.fan_mode","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":960,"wires":[["186f190c.d99467"]]},{"id":"f9274d75.2b997","type":"comment","z":"46f1a12.33a346","name":"Fan Mode entities sync","info":"","x":160,"y":900,"wires":[]},{"id":"3c08196e.409876","type":"server-state-changed","z":"46f1a12.33a346","name":"Climate Fan","server":"d6c93caf.8868e","version":"1","entityidfilter":"sensor.sensibo_kids_room_fan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":1080,"wires":[["1db525b2.16713a"]]},{"id":"1db525b2.16713a","type":"api-current-state","z":"46f1a12.33a346","name":"My Fan","server":"d6c93caf.8868e","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.sensibo_kids_room_fan","state_type":"str","state_location":"myFan","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":1080,"wires":[["72a84aa6.b824f4"]]},{"id":"72a84aa6.b824f4","type":"switch","z":"46f1a12.33a346","name":"Check","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"myFan","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1080,"wires":[["edd2c505.b16838"]]},{"id":"edd2c505.b16838","type":"function","z":"46f1a12.33a346","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_select.sensibo_kids_room_fan\",\n        \"option\": msg.payload\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1080,"wires":[["f8566ace.60ff68"]]},{"id":"f8566ace.60ff68","type":"api-call-service","z":"46f1a12.33a346","name":"Set My Fan","server":"d6c93caf.8868e","version":"1","service_domain":"input_select","service":"select_option","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":1080,"wires":[[]]},{"id":"3c23437a.60495c","type":"server-state-changed","z":"588dc0bd.c899e","name":"Serv. Balcony Light","server":"d6c93caf.8868e","version":1,"entityidfilter":"light.service_balcony","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":720,"wires":[[],[]]},{"id":"772b80dd.1cea9","type":"trigger","z":"588dc0bd.c899e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":390,"y":720,"wires":[["b0dec25b.26797"]]},{"id":"5274c272.66170c","type":"api-call-service","z":"588dc0bd.c899e","name":"Serv. Balcony light off","server":"d6c93caf.8868e","version":1,"service_domain":"light","service":"turn_off","entityId":"light.service_balcony","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":720,"wires":[[]]},{"id":"b0dec25b.26797","type":"switch","z":"588dc0bd.c899e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":720,"wires":[[],["5274c272.66170c"]]},{"id":"6ff51a81.c97f74","type":"server-state-changed","z":"d9cd118a.6808e","name":"Themes","server":"d6c93caf.8868e","version":1,"entityidfilter":"input_select.themes_list","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":120,"wires":[["ce3b83f7.fff8a"]]},{"id":"da95d439.878918","type":"api-call-service","z":"d9cd118a.6808e","name":"Set theme","server":"d6c93caf.8868e","version":1,"service_domain":"frontend","service":"set_theme","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":120,"wires":[[]]},{"id":"ce3b83f7.fff8a","type":"function","z":"d9cd118a.6808e","name":"Data","func":"msg.payload = \n{\n    \"data\": {\n        \"name\": msg.payload\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["da95d439.878918"]]}]