config/node-red/flows.json
[{"id":"a04621ee.99fb2","type":"tab","label":"Switcher","disabled":false,"info":""},{"id":"22777426.3fe0ac","type":"tab","label":"Snapshots Backup","disabled":false,"info":""},{"id":"218db70e.126ef8","type":"tab","label":"Sensibo","disabled":false,"info":""},{"id":"75b97fbb.48012","type":"tab","label":"Batteries","disabled":false,"info":""},{"id":"588dc0bd.c899e","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"5a3ffcd3.1a0734","type":"tab","label":"PC Automation","disabled":false,"info":""},{"id":"d9cd118a.6808e","type":"tab","label":"Presense","disabled":false,"info":""},{"id":"34741465.a484cc","type":"tab","label":"Media","disabled":true,"info":""},{"id":"d6c93caf.8868e","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"7c3fa140.12fa","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"31.779634","longitude":"34.631910"},{"id":"9a3b04ff.afd7b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a2128a4e.1357c8","type":"server-state-changed","z":"34741465.a484cc","name":"Shield TV","server":"d6c93caf.8868e","version":1,"entityidfilter":"switch.shield_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":180,"wires":[["8ec92239.3f04"],[]]},{"id":"46137c4b.8e8364","type":"api-call-service","z":"34741465.a484cc","name":"Notify Dima","server":"d6c93caf.8868e","version":"1","service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":180,"wires":[[]]},{"id":"69311ea7.1e7ac","type":"function","z":"34741465.a484cc","name":"Message","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Living Room TV\",\n        \"message\": msg.mediaName + \" is ON\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["46137c4b.8e8364"]]},{"id":"80c76e98.ee3fd","type":"change","z":"34741465.a484cc","name":"Shield TV is ON","rules":[{"t":"set","p":"mediaName","pt":"msg","to":"Shield TV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":180,"wires":[["69311ea7.1e7ac"]]},{"id":"da9a1134.90113","type":"server-state-changed","z":"34741465.a484cc","name":"Baltic TV","server":"d6c93caf.8868e","version":1,"entityidfilter":"switch.baltic_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":260,"wires":[["9374c853.331948"],[]]},{"id":"d00b39da.2b90b8","type":"change","z":"34741465.a484cc","name":"Baltic TV is ON","rules":[{"t":"set","p":"mediaName","pt":"msg","to":"Baltic TV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":260,"wires":[["69311ea7.1e7ac"]]},{"id":"81c61e38.01ccd","type":"server-state-changed","z":"34741465.a484cc","name":"Smart TV","server":"d6c93caf.8868e","version":1,"entityidfilter":"switch.smart_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":340,"wires":[["fdab20e6.17da8"],[]]},{"id":"1f59d36b.21e40d","type":"change","z":"34741465.a484cc","name":"Smart TV is ON","rules":[{"t":"set","p":"mediaName","pt":"msg","to":"Smart TV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":340,"wires":[["69311ea7.1e7ac"]]},{"id":"8ec92239.3f04","type":"api-current-state","z":"34741465.a484cc","name":"Away","server":"d6c93caf.8868e","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"device_tracker.life360_dima_trosman","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":180,"wires":[["80c76e98.ee3fd"],[]]},{"id":"de2994dc.36b148","type":"server-state-changed","z":"a04621ee.99fb2","name":"Boiler","server":"d6c93caf.8868e","version":1,"entityidfilter":"switch.switcher_aio_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":200,"wires":[["9bb5c518.3bb3a8"]]},{"id":"85b56f17.91dfb","type":"function","z":"a04621ee.99fb2","name":"Message ON","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Boiler\",\n        \"message\": \"ON\\n\" + \"Auto off \" + msg.autoOff + \".\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":560,"wires":[["5935d27c.0f873c"]]},{"id":"5935d27c.0f873c","type":"api-call-service","z":"a04621ee.99fb2","name":"Notify Dima","server":"d6c93caf.8868e","version":"1","service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":560,"wires":[[]]},{"id":"6d289603.d43158","type":"api-current-state","z":"a04621ee.99fb2","name":"Time left","server":"d6c93caf.8868e","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.switcher_aio_time_left","state_type":"str","state_location":"timeLeft","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":760,"y":480,"wires":[["63e64566.acd06c"]]},{"id":"9bb5c518.3bb3a8","type":"api-current-state","z":"a04621ee.99fb2","name":"Device name","server":"d6c93caf.8868e","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switcher_aio.device_name_sensor","state_type":"str","state_location":"deviceName","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":300,"wires":[["c1b81d1d.a80a7"]]},{"id":"ae22f71b.b6e758","type":"function","z":"a04621ee.99fb2","name":"Message OFF","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Boiler\",\n        \"message\": \"OFF\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":700,"wires":[["5935d27c.0f873c"]]},{"id":"5443bb04.c9ff94","type":"ha-wait-until","z":"a04621ee.99fb2","name":"Wait for off","server":"d6c93caf.8868e","outputs":2,"entityId":"switcher_aio.time_left_sensor","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"10","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":false,"x":430,"y":700,"wires":[["ae22f71b.b6e758"],[]]},{"id":"c3d7f24a.8c769","type":"ha-wait-until","z":"a04621ee.99fb2","name":"Wait for Time Left","server":"d6c93caf.8868e","outputs":2,"entityId":"sensor.switcher_aio_time_left","property":"state","comparator":"is_not","value":"off","valueType":"str","timeout":"30","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":450,"y":400,"wires":[["68daf6fc.9dc5d8"],[]]},{"id":"c1b81d1d.a80a7","type":"switch","z":"a04621ee.99fb2","name":"ON / OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":400,"wires":[["c3d7f24a.8c769"],["5443bb04.c9ff94"]]},{"id":"6ff40918.0a7778","type":"server-state-changed","z":"a04621ee.99fb2","name":"My Timer minutes select","server":"d6c93caf.8868e","version":1,"entityidfilter":"input_select.switcher_timer_minutes_input_select","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":920,"wires":[["b7579cf5.a146b"]]},{"id":"16fa59.258a55a8","type":"api-call-service","z":"a04621ee.99fb2","name":"Switcher Timer minutes","server":"d6c93caf.8868e","version":"1","service_domain":"input_select","service":"select_option","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":920,"wires":[[]]},{"id":"b7579cf5.a146b","type":"function","z":"a04621ee.99fb2","name":"Set data","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"switcher_aio.timer_minutes_input_select\",\n        \"option\": msg.payload\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":920,"wires":[["16fa59.258a55a8"]]},{"id":"402401d0.71e74","type":"server-state-changed","z":"22777426.3fe0ac","name":"Snapshots stale","server":"d6c93caf.8868e","version":1,"entityidfilter":"binary_sensor.snapshots_stale","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":160,"wires":[[],["7518843.74dd77c"]]},{"id":"7518843.74dd77c","type":"function","z":"22777426.3fe0ac","name":"Message","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Snapshots are Stale\",\n        \"message\": \"Please visit the 'Hass.io Google Drive Backup ' add-on status page\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["565131b6.61a22"]]},{"id":"565131b6.61a22","type":"api-call-service","z":"22777426.3fe0ac","name":"Notify Dima","server":"d6c93caf.8868e","version":1,"service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":160,"wires":[[]]},{"id":"63e64566.acd06c","type":"api-current-state","z":"a04621ee.99fb2","name":"Auto Off","server":"d6c93caf.8868e","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.switcher_aio_auto_off_time","state_type":"str","state_location":"autoOff","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":840,"y":560,"wires":[["85b56f17.91dfb"]]},{"id":"68daf6fc.9dc5d8","type":"ha-wait-until","z":"a04621ee.99fb2","name":"Wait for Auto Off","server":"d6c93caf.8868e","outputs":2,"entityId":"sensor.switcher_aio_auto_off_time","property":"state","comparator":"is_not","value":"off","valueType":"str","timeout":"30","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":560,"y":480,"wires":[["6d289603.d43158"],[]]},{"id":"719c5935.5c4928","type":"function","z":"218db70e.126ef8","name":"Data ON","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Kids Room AC\",\n        \"message\": \"ON\" + \"\\nTemp: \" + msg.data.attributes.current_temperature + \"°C\" + \"\\nOperation: \" + msg.payload + \"\\nFan: \" + msg.data.attributes.fan_mode + \"\\nTarget: \" + msg.data.attributes.temperature + \"°C\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["fccd0c0c.9afa1"]]},{"id":"fccd0c0c.9afa1","type":"api-call-service","z":"218db70e.126ef8","name":"Notify Dima","server":"d6c93caf.8868e","version":"1","service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":140,"wires":[[]]},{"id":"cf1d0884.c91948","type":"server-state-changed","z":"218db70e.126ef8","name":"Kids Room AC","server":"d6c93caf.8868e","version":1,"entityidfilter":"climate.kids_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":140,"y":140,"wires":[["3b285ff3.0392f"],["8350c563.a86018"]]},{"id":"3594500d.53066","type":"comment","z":"218db70e.126ef8","name":"Notification","info":"","x":120,"y":80,"wires":[]},{"id":"8350c563.a86018","type":"function","z":"218db70e.126ef8","name":"Data OFF","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Kids Room AC\",\n        \"message\": \"OFF\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["fccd0c0c.9afa1"]]},{"id":"3b285ff3.0392f","type":"api-current-state","z":"218db70e.126ef8","name":"Kids Room AC","server":"d6c93caf.8868e","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"climate.kids_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":140,"wires":[["719c5935.5c4928"],[]]},{"id":"8e63ac6.527815","type":"comment","z":"a04621ee.99fb2","name":"Notification","info":"","x":120,"y":140,"wires":[]},{"id":"460aae4e.9a3bc","type":"comment","z":"a04621ee.99fb2","name":"Entities sync","info":"","x":130,"y":860,"wires":[]},{"id":"a239b97e.ba28b8","type":"server-state-changed","z":"75b97fbb.48012","name":"Bedroom Temp. Battery","server":"d6c93caf.8868e","version":1,"entityidfilter":"sensor.xiaomi_bedroom_temp_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"x":140,"y":180,"wires":[["a0ed713d.cfcff"],[]]},{"id":"a0ed713d.cfcff","type":"function","z":"75b97fbb.48012","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"notification_id\": \"12345\",\n        \"title\": \"Bedroom Temperature Battery\",\n        \"message\": \"The battery is \" + msg.payload + \"%.\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["98f23880.caaac8"]]},{"id":"98f23880.caaac8","type":"api-call-service","z":"75b97fbb.48012","name":"Persistant Notification","server":"d6c93caf.8868e","version":"1","service_domain":"persistent_notification","service":"create","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":180,"wires":[[]]},{"id":"44671735.4aa178","type":"light-scheduler","z":"588dc0bd.c899e","settings":"7c3fa140.12fa","events":"[{\"start\":{\"dow\":1,\"mod\":1140},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":390}},{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":390}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":390}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":390}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":390}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":390}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":390}},{\"start\":{\"dow\":2,\"mod\":1140},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":1140},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":1140},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":1140},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":1140},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":1140},\"end\":{\"dow\":1,\"mod\":0}}]","topic":"night_mode","name":"Night","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":"10","sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":110,"y":120,"wires":[["3ad31a7d.084886"]]},{"id":"40108977.137ca8","type":"switch","z":"588dc0bd.c899e","name":"ON / OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":240,"wires":[["73880d23.e0be54"],["1c84a3b.d70915c"]]},{"id":"73880d23.e0be54","type":"api-call-service","z":"588dc0bd.c899e","name":"Turn ON Hall light","server":"d6c93caf.8868e","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hall","data":"{   \"entity_id\": \"light.hall\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":240,"wires":[["8c047545.b45818"]]},{"id":"1c84a3b.d70915c","type":"api-call-service","z":"588dc0bd.c899e","name":"Turn OFF Hall light","server":"d6c93caf.8868e","version":1,"service_domain":"light","service":"turn_off","entityId":"light.hall","data":"{   \"entity_id\": \"light.hall\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":300,"wires":[["f5cad511.52ca18"]]},{"id":"9c56ee39.82b7a","type":"comment","z":"588dc0bd.c899e","name":"Hall light during night","info":"","x":160,"y":60,"wires":[]},{"id":"f92c7d99.aca2a","type":"api-call-service","z":"588dc0bd.c899e","name":"Notify Dima","server":"d6c93caf.8868e","version":1,"service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":240,"wires":[[]]},{"id":"8c047545.b45818","type":"function","z":"588dc0bd.c899e","name":"Data ON","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Hall light\",\n        \"message\": \"ON\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["f92c7d99.aca2a"]]},{"id":"f5cad511.52ca18","type":"function","z":"588dc0bd.c899e","name":"Data OFF","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Hall light\",\n        \"message\": \"OFF\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":300,"wires":[["f92c7d99.aca2a"]]},{"id":"228fee15.7f9292","type":"api-current-state","z":"588dc0bd.c899e","name":"ON / OFF","server":"d6c93caf.8868e","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_hall_night_mode","state_type":"habool","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":240,"wires":[["40108977.137ca8"],[]]},{"id":"a190f304.403cf","type":"server-events","z":"588dc0bd.c899e","name":"Aqara click","server":"d6c93caf.8868e","event_type":"xiaomi_aqara.click","x":120,"y":500,"wires":[["31c810.bde477f"]]},{"id":"31c810.bde477f","type":"switch","z":"588dc0bd.c899e","name":"Button switch","property":"payload.event.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.button_bedside_dima","vt":"str"},{"t":"eq","v":"binary_sensor.button_bedside_galit","vt":"str"},{"t":"eq","v":"binary_sensor.button_makeup","vt":"str"},{"t":"eq","v":"binary_sensor.button_kitchen_strip_right","vt":"str"},{"t":"eq","v":"binary_sensor.button_kitchen_strip_left","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":340,"y":520,"wires":[["5d3f5fc1.55fb2"],["44d442ca.6e92dc"],["506c4501.6a444c"],["e73334a9.f03ed8"],["f4d1a6dd.6a6b78"]]},{"id":"5d3f5fc1.55fb2","type":"switch","z":"588dc0bd.c899e","name":"Bedside Dima click type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":610,"y":500,"wires":[["fc93f227.a228d"],["cc133163.e3328"],["563134b8.6afefc"]]},{"id":"cc133163.e3328","type":"api-call-service","z":"588dc0bd.c899e","name":"Bedroom Ceiling Light","server":"d6c93caf.8868e","version":1,"service_domain":"light","service":"toggle","entityId":"light.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":500,"wires":[[]]},{"id":"ff16afe.9b43d5","type":"comment","z":"588dc0bd.c899e","name":"Xiaomi Buttons","info":"# Buttons\n * 1 - Bedside Dima's Button\n * 2 - Bedside Galit's Button\n * 3 - Makeup Button\n * 4 - Kitchen Strip Right Button\n * 5 - Kitchen Strip Left Button\n\n# Click Types\n * 1 - Single click\n * 2 - Long click\n * 3 - Double click","x":140,"y":440,"wires":[]},{"id":"16b1219a.74d02e","type":"server-state-changed","z":"75b97fbb.48012","name":"Bedside Button Dima Battery","server":"d6c93caf.8868e","version":1,"entityidfilter":"sensor.xiaomi_button_bedside_dima_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"x":160,"y":360,"wires":[["d494714.df8da9"],[]]},{"id":"d494714.df8da9","type":"function","z":"75b97fbb.48012","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"notification_id\": \"12346\",\n        \"title\": \"Dima's Bedside Button Battery\",\n        \"message\": \"The battery is \" + msg.payload + \"%.\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["9920b506.189c28"]]},{"id":"9920b506.189c28","type":"api-call-service","z":"75b97fbb.48012","name":"Persistant Notification","server":"d6c93caf.8868e","version":"1","service_domain":"persistent_notification","service":"create","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":360,"wires":[[]]},{"id":"b4d795cf.005578","type":"server-state-changed","z":"75b97fbb.48012","name":"Bedside Button Galit Battery","server":"d6c93caf.8868e","version":1,"entityidfilter":"sensor.xiaomi_button_bedside_galit_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"x":160,"y":440,"wires":[["a9faf360.f71a9"],[]]},{"id":"a9faf360.f71a9","type":"function","z":"75b97fbb.48012","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"notification_id\": \"12347\",\n        \"title\": \"Galit's Bedside Button Battery\",\n        \"message\": \"The battery is \" + msg.payload + \"%.\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["5f152e85.1177f"]]},{"id":"5f152e85.1177f","type":"api-call-service","z":"75b97fbb.48012","name":"Persistant Notification","server":"d6c93caf.8868e","version":"1","service_domain":"persistent_notification","service":"create","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":440,"wires":[[]]},{"id":"3ad31a7d.084886","type":"rbe","z":"588dc0bd.c899e","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":270,"y":120,"wires":[["228fee15.7f9292"]]},{"id":"3c23437a.60495c","type":"server-state-changed","z":"588dc0bd.c899e","name":"Serv. Balcony Light","server":"d6c93caf.8868e","version":1,"entityidfilter":"light.service_balcony","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":1260,"wires":[[],[]]},{"id":"772b80dd.1cea9","type":"trigger","z":"588dc0bd.c899e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":410,"y":1260,"wires":[["b0dec25b.26797"]]},{"id":"5274c272.66170c","type":"api-call-service","z":"588dc0bd.c899e","name":"Serv. Balcony light off","server":"d6c93caf.8868e","version":1,"service_domain":"light","service":"turn_off","entityId":"light.service_balcony","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":1260,"wires":[[]]},{"id":"b0dec25b.26797","type":"switch","z":"588dc0bd.c899e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":1260,"wires":[[],["5274c272.66170c"]]},{"id":"44d442ca.6e92dc","type":"switch","z":"588dc0bd.c899e","name":"Bedside Galit click type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":610,"y":600,"wires":[["b90e135d.7bdb2"],["cc133163.e3328"],["563134b8.6afefc"]]},{"id":"fc93f227.a228d","type":"api-call-service","z":"588dc0bd.c899e","name":"Bedside Dima","server":"d6c93caf.8868e","version":1,"service_domain":"light","service":"toggle","entityId":"light.bedside_lamp_dima","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":580,"wires":[[]]},{"id":"b90e135d.7bdb2","type":"api-call-service","z":"588dc0bd.c899e","name":"Bedside Galit","server":"d6c93caf.8868e","version":1,"service_domain":"light","service":"toggle","entityId":"light.bedside_lamp_galit","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":640,"wires":[[]]},{"id":"9374c853.331948","type":"api-current-state","z":"34741465.a484cc","name":"Away","server":"d6c93caf.8868e","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"device_tracker.life360_dima_trosman","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":260,"wires":[["d00b39da.2b90b8"],[]]},{"id":"fdab20e6.17da8","type":"api-current-state","z":"34741465.a484cc","name":"Away","server":"d6c93caf.8868e","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"device_tracker.life360_dima_trosman","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":340,"wires":[["1f59d36b.21e40d"],[]]},{"id":"786db6e7.befa68","type":"function","z":"218db70e.126ef8","name":"Data ON","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Bedroom AC\",\n        \"message\": \"ON\" + \"\\nTemp: \" + msg.data.attributes.current_temperature + \"°C\" + \"\\nOperation: \" + msg.payload + \"\\nFan: \" + msg.data.attributes.fan_mode + \"\\nTarget: \" + msg.data.attributes.temperature + \"°C\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":360,"wires":[["713c7fc8.af07c"]]},{"id":"713c7fc8.af07c","type":"api-call-service","z":"218db70e.126ef8","name":"Notify Dima","server":"d6c93caf.8868e","version":1,"service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":360,"wires":[[]]},{"id":"55d0b2b9.ad2d8c","type":"server-state-changed","z":"218db70e.126ef8","name":"Bedroom AC","server":"d6c93caf.8868e","version":1,"entityidfilter":"climate.bedroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":130,"y":360,"wires":[["4edd16b1.292228"],["433650d0.71e96"]]},{"id":"433650d0.71e96","type":"function","z":"218db70e.126ef8","name":"Data OFF","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Bedroom AC\",\n        \"message\": \"OFF\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":460,"wires":[["713c7fc8.af07c"]]},{"id":"4edd16b1.292228","type":"api-current-state","z":"218db70e.126ef8","name":"Bedroom AC","server":"d6c93caf.8868e","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"climate.bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":360,"wires":[["786db6e7.befa68"],[]]},{"id":"287de119.effe4e","type":"function","z":"218db70e.126ef8","name":"Data ON","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Living Room AC\",\n        \"message\": \"ON\" + \"\\nTemp: \" + msg.data.attributes.current_temperature + \"°C\" + \"\\nOperation: \" + msg.payload + \"\\nFan: \" + msg.data.attributes.fan_mode + \"\\nTarget: \" + msg.data.attributes.temperature + \"°C\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":580,"wires":[["d64427e6.37e9d8"]]},{"id":"d64427e6.37e9d8","type":"api-call-service","z":"218db70e.126ef8","name":"Notify Dima","server":"d6c93caf.8868e","version":"1","service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":580,"wires":[[]]},{"id":"2f64e1a3.8b4bfe","type":"server-state-changed","z":"218db70e.126ef8","name":"Living Room AC","server":"d6c93caf.8868e","version":1,"entityidfilter":"climate.living_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":140,"y":580,"wires":[["6eb1ed24.e72764"],["d3ff9e55.ea497"]]},{"id":"d3ff9e55.ea497","type":"function","z":"218db70e.126ef8","name":"Data OFF","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Living Room AC\",\n        \"message\": \"OFF\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":680,"wires":[["d64427e6.37e9d8"]]},{"id":"6eb1ed24.e72764","type":"api-current-state","z":"218db70e.126ef8","name":"Living Room AC","server":"d6c93caf.8868e","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"climate.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":580,"wires":[["287de119.effe4e"],[]]},{"id":"134b702c.c46a7","type":"api-current-state","z":"5a3ffcd3.1a0734","name":"ON / OFF","server":"d6c93caf.8868e","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_dimka_sleep","state_type":"habool","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":100,"wires":[["fcbac8e9.361318"],[]]},{"id":"fcbac8e9.361318","type":"api-current-state","z":"5a3ffcd3.1a0734","name":"Dima Away","server":"d6c93caf.8868e","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"device_tracker.life360_dima_trosman","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":200,"wires":[["e11a978b.7c0798"],[]]},{"id":"e11a978b.7c0798","type":"api-current-state","z":"5a3ffcd3.1a0734","name":"Galit Away","server":"d6c93caf.8868e","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"device_tracker.life360_galit","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":320,"wires":[["48c0e588.b298ac"],[]]},{"id":"b8bc94fd.efa2e8","type":"server-state-changed","z":"5a3ffcd3.1a0734","name":"DIMKA","server":"d6c93caf.8868e","version":1,"entityidfilter":"binary_sensor.dimka_connected","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":100,"wires":[["134b702c.c46a7"],[]]},{"id":"5f17a104.0f45b","type":"api-call-service","z":"5a3ffcd3.1a0734","name":"Notify Dima","server":"d6c93caf.8868e","version":"1","service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":100,"wires":[[]]},{"id":"48c0e588.b298ac","type":"function","z":"5a3ffcd3.1a0734","name":"Message","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"DIMKA PC\",\n        \"message\": \"ON while nobody is home\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":100,"wires":[["5f17a104.0f45b"]]},{"id":"563134b8.6afefc","type":"api-call-service","z":"588dc0bd.c899e","name":"Bedside Midnight Light","server":"d6c93caf.8868e","version":1,"service_domain":"switch","service":"toggle","entityId":"switch.bedside_midnight_light_toggle","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":720,"wires":[[]]},{"id":"f9109de.c3e676","type":"server-state-changed","z":"d9cd118a.6808e","name":"Galit Home","server":"d6c93caf.8868e","version":1,"entityidfilter":"device_tracker.life360_galit","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":180,"wires":[["448939e.734d3c8"],[]]},{"id":"1c0b8da3.498f02","type":"api-call-service","z":"d9cd118a.6808e","name":"Notify Dima","server":"d6c93caf.8868e","version":"1","service_domain":"notify","service":"dimatelegram","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":180,"wires":[[]]},{"id":"448939e.734d3c8","type":"function","z":"d9cd118a.6808e","name":"Message","func":"msg.payload = \n{\n    \"data\": {\n        \"title\": \"Linka\",\n        \"message\": \"Almost home\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["1c0b8da3.498f02"]]},{"id":"3a4f4bda.b23444","type":"server-state-changed","z":"75b97fbb.48012","name":"Makeup Button Battery","server":"d6c93caf.8868e","version":1,"entityidfilter":"sensor.xiaomi_button_makeup_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"x":140,"y":520,"wires":[["c2ac818c.101e7"],[]]},{"id":"c2ac818c.101e7","type":"function","z":"75b97fbb.48012","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"notification_id\": \"12347\",\n        \"title\": \"Makeup Button Battery\",\n        \"message\": \"The battery is \" + msg.payload + \"%.\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":520,"wires":[["dbb18646.c8af18"]]},{"id":"dbb18646.c8af18","type":"api-call-service","z":"75b97fbb.48012","name":"Persistant Notification","server":"d6c93caf.8868e","version":1,"service_domain":"persistent_notification","service":"create","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":520,"wires":[[]]},{"id":"b4814361.1b393","type":"comment","z":"75b97fbb.48012","name":"Xiaomi Buttons Batteries","info":"","x":150,"y":300,"wires":[]},{"id":"506c4501.6a444c","type":"switch","z":"588dc0bd.c899e","name":"Makeup click type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":590,"y":700,"wires":[[],[],[]]},{"id":"e73334a9.f03ed8","type":"switch","z":"588dc0bd.c899e","name":"Kitchen Strip Right click type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":620,"y":800,"wires":[[],[],[]]},{"id":"f4d1a6dd.6a6b78","type":"switch","z":"588dc0bd.c899e","name":"Kitchen Strip Left click type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":620,"y":900,"wires":[[],[],[]]},{"id":"f6456318.ada11","type":"server-state-changed","z":"75b97fbb.48012","name":"Kitchen Strip Right Button Battery","server":"d6c93caf.8868e","version":1,"entityidfilter":"sensor.xiaomi_button_kitchen_strip_right_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"x":170,"y":600,"wires":[["15900b92.257994"],[]]},{"id":"15900b92.257994","type":"function","z":"75b97fbb.48012","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"notification_id\": \"12347\",\n        \"title\": \"Kitchen Strip Right Button Battery\",\n        \"message\": \"The battery is \" + msg.payload + \"%.\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":600,"wires":[["d0b2f666.ff2b08"]]},{"id":"d0b2f666.ff2b08","type":"api-call-service","z":"75b97fbb.48012","name":"Persistant Notification","server":"d6c93caf.8868e","version":1,"service_domain":"persistent_notification","service":"create","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":600,"wires":[[]]},{"id":"dd067b3a.81c5a8","type":"server-state-changed","z":"75b97fbb.48012","name":"Kitchen Strip Left Button Battery","server":"d6c93caf.8868e","version":1,"entityidfilter":"sensor.xiaomi_button_kitchen_strip_left_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"x":170,"y":680,"wires":[["e7a96a7.ec5e998"],[]]},{"id":"e7a96a7.ec5e998","type":"function","z":"75b97fbb.48012","name":"Set Data","func":"msg.payload = \n{\n    \"data\": {\n        \"notification_id\": \"12347\",\n        \"title\": \"Kitchen Strip Left Button Battery\",\n        \"message\": \"The battery is \" + msg.payload + \"%.\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":680,"wires":[["c2b79423.d36868"]]},{"id":"c2b79423.d36868","type":"api-call-service","z":"75b97fbb.48012","name":"Persistant Notification","server":"d6c93caf.8868e","version":1,"service_domain":"persistent_notification","service":"create","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":680,"wires":[[]]}]